      <p>&nbsp;</p>
      <div class="page-description">
          <h1>Petomo:</h1>
          <h2>a small commitment to prepare for a large commitment!</h2>
          <br>
          <%= link_to "return to main page", root_path, class: "btn btn-info" %>
        <p>&nbsp;</p>
      </div>
              <p>&nbsp;</p>
