
      <p>&nbsp;</p>
      <div class="page-description">
          <h1>Thank you!</h1>
          <h1>Confirmation has been sent to your email!</h1>
          <br>
          <%= link_to "return to main page", root_path, class: "btn btn-info" %>
        <p>&nbsp;</p>
      </div>
              <p>&nbsp;</p>
