  <body>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
          <h1 class="display-5">Our mission is huge and honorable</h1>
          <p class="lead">&nbsp;</p>
        </div>
      </div>
    </div>
</body>
