<div class="col-md-4 col-md-offset-4">
<h1>UVE ARRIVED!</h1>
<table>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <% @user.name %>
        <% User.user.email %>
        <% if policy(users).show? %>
          <%= link_to 'Show', restaurant %>
        <% end %>
      </td>
      <td>
        <% if policy(Restaurant).create? %>
          <%= link_to 'Create', new_restaurant_path(user) %>
        <% end %>
      </td>
      <td>
        <% if policy(User).edit? %>
          <%= link_to 'Edit', edit_restaurant_path(user) %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>
